section {
  width: 96em;
  height: 40em;
}
h1 {
  color: blue;
  font-family: arial;
  font-size: 4em;
  text-align: center;
}
a,
p {
  font-size: 2em;
}
body {
  background: url(img/nen.jpg);
  background-repeat: no-repeat;
  margin: 0em;
  max-width: 96em;
  max-height: 40em;
}
img {
  width: 24em;
  height: 32em;
  margin: 0.5em;
}
.list {
  display: flex;
}
p {
  margin: 0.5em;
}
div{
  width: 960px;
}
